section#landing
  background-image: radial-gradient(rgba($black,0.5), rgba($pink,0.1), rgba(darken($pink,40%),0.5)), url(../img/trees.jpg)
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  background-attachment: fixed
  min-height: 100vh
  h1.lead
    font-size: 3.2em
    color: $white
    padding: 0.3em 0.8em
    text-shadow: 3px 3px 0px rgba($black,0.4)
  p.tagline
    font-size: 1.4em
    color: $black
    font-weight: 400
    letter-spacing: 2px
    display: inline
    background-color: rgba($white,0.8)
    padding: 2px 8px
